.container-fluid{
    height: 100vh;
    width: 50%;
}
.inner_right_block{
    color: aliceblue;
    max-width: 70%;
    /* margin-top: 30%; */
}
.inner_left_block{
    max-width: 70%;
    /* margin-top: 30%; */
}
body{
    height: 100vh;
    box-sizing: border-box;
}

#left_plane{
    padding-top: 20%;
    padding-bottom: 20%;
    color: black;
    background-image: url('/icon/privacy.jpg');
}

#carouselExampleCaptions{
    background-color: brown;
    /* height: 100vh; */
    max-height: 100vh;
    overflow: hidden;
    
}